<div id="nav">
    <a href="#/drinkingnow"><button type="button" class="btn btn-default">Drinking Now</button></a>
    <a href="#/findbeer"><button type="button" class="btn btn-default">Find Beer</button></a>
</div>

<div class="row" style="padding-top:5%; padding-bottom:3%;">
	<h1>About Us</h1>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="row ourPics">
			<img src="/images/geoff.jpg" alt="pic of Geoff">
		</div>
		<div class="row name">
			<h3>Geoff</h3>
		</div>
		<div class="row socialicons">
			<a target="blank href=""><img src="/images/linked-in.png" alt="Geoff linkedin"></a>
			<a target="blank href=""><img src="/images/github.png" alt="Geoff github"></a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="row ourPics">
			<img src="/images/danielle.jpg" alt="pic of Danielle">
		</div>
		<div class="row name">
			<h3>Danielle</h3>
		</div>
		<div class="row socialicons">
			<a target="blank href=""><img src="/images/linked-in.png" alt="Geoff linkedin"></a>
			<a target="blank href=""><img src="/images/github.png" alt="Geoff github"></a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="row ourPics">
			<img src="/images/esha.jpg" alt="pic of Esha">
		</div>
		<div class="row name">
			<h3>Esha</h3>
		</div>
		<div class="row socialicons">
			<a target="blank href=""><img src="/images/linked-in.png" alt="Geoff linkedin"></a>
			<a target="blank href=""><img src="/images/github.png" alt="Geoff github"></a>
		</div>
	</div>
</div>
