<div id="nav">
    <a href="#/drinkingnow"><button type="button" class="btn btn-default">Drinking Now</button></a>
    <a href="#/findbeer"><button type="button" class="btn btn-default">Find Beer</button></a>
</div>

<div class="row" style="padding-top:5%; padding-bottom:3%;">
	<h1>About Us</h1>
</div>
<div id="ourPics">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<img src="/images/geoff.jpg" alt="pic of us">
			</div>
			<div class="row">
				<h3>Geoff</h3>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<img src="/images/danielle.jpg" alt="pic of us">
			</div>
			<div class="row">
				<h3>Danielle</h3>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<img src="/images/no_picture.jpg" alt="pic of us">
			</div>
			<div class="row">
				<h3>Esha</h3>
			</div>
		</div>
	</div>
</div>