<div id="nav">
    <a href="#/drinkingnow"><button type="button" class="btn btn-default">Drinking Now</button></a>
    <a href="#/findbeer"><button type="button" class="btn btn-default">Find Beer</button></a>
</div>

<div class="row" style="padding-top:7%; padding-bottom:3%;">
	<h1>About Us</h1>
</div>
<div id="ourPics">
	<div class="row">
		<div class="col-md-4">
			<img src="/images/no_picture.jpg" alt="pic of us">
		</div>
		<div class="col-md-4">
			<img src="/images/no_picture.jpg" alt="pic of us">
		</div>
		<div class="col-md-4">
			<img src="/images/no_picture.jpg" alt="pic of us">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3>Geoff</h3>
		</div>
		<div class="col-md-4">
			<h3>Esha</h3>
		</div>
		<div class="col-md-4">
			<h3>Danielle</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<i class="fa fa-github-square"></i>
		</div>
		<div class="col-md-4">
	
		</div>
		<div class="col-md-4">
		
		</div>
	</div>
</div>