<div class="row" id="nav">
    <div style="float: left;">
        <a href="#/drinkingnow">
            <button type="button" class="btn btn-default">Drinking Now</button>
        </a>
        <a href="#/findbeer">
            <button type="button" class="btn btn-default">Find Beer</button>
        </a>
    </div>
    <div style="float:right;">
        <a href="#/">
            <button type="button" class="btn btn-default">Home</button>
        </a>
    </div>
</div>


<div class="row">
 <h1>Welcome!</h1>
 <br>
 <div style="width:80%; margin:auto">
	 <h4>Beerify is a tool to help you find and record beers around Portland area! To get started click the "Drinking Now" button to report what brews the bars are serving or click the "Find Beer" button to locate a tasty brewski.</h4>
 </div>
</div>