
<div id="nav">
  	<a href="#/drinkingnow"><button type="button" class="btn btn-default">Drinking Now</button></a>
  	<a href="#/findbeer"><button type="button" class="btn btn-default">Find Beer</button></a>
</div>
<div class="row" style="padding-top: 7%;">
 <h1>beerify!</h1>
<p class="lead">Add some about/how-to content here, maybe?</p>
</div>