<div class="row" id="nav">
    <div id="drinkingButtons">
        <a href="#/drinkingnow">
            <button type="button" class="btn btn-default">Drinking Now</button>
        </a>
        <a href="#/findbeer">
            <button type="button" class="btn btn-default">Find Beer</button>
        </a>
    </div>
    <div id="homeButton">
        <a href="#/">
            <button type="button" class="btn btn-default">Home</button>
        </a>
    </div>
</div>

<div class="row">
    <h1>Drinking Now</h1>
    <br>

    <div class="form-group">
        <h4>Where are you?</h4>
        <input id="bar-input" class="form-control" type="text" placeholder="Enter bar">
        <br>

        <div id="beer-data">
            <h4>What are you drinking?</h4>
            <select id="beer-input" class="form-control" placeholder="Select beer">
                {{#each beerData}}
                    <option>{{name}}</option>
                {{/each}}
            </select>
            <button id="add-beer-btn" class="btn btn-default" style="margin-top:2%; background-color:black; color:white;">
                Can't find your beer?
            </button>


                <input type="text" class="form-control" id="add-new-beer" placeholder="Enter beer"/>
                <button id="go-back" class="btn btn-default">
                    Go back
                </button>


        </div>

        <br>

        <h4 class="choice">Rate this beer</h4>

    <div id="star-container">
		<span class="star-rating" id="beer-rating">
		  <input type="radio" name="rating" value="1"><i></i>
		  <input type="radio" name="rating" value="2"><i></i>
		  <input type="radio" name="rating" value="3"><i></i>
		  <input type="radio" name="rating" value="4"><i></i>
		  <input type="radio" name="rating" value="5"><i></i>
		</span>
    </div>

        <br>
        <input id="postToFacebook" type="checkbox" name="postToFacebook">
        <label for="postToFacebook"><h4>Post to Facebook</h4></label>
        <br>

        <button id="add-beer" class="btn btn-default" style="background-color:black; color:white;">Add Bar</button>
    </div>

    <h4>See what other users entered</h4>

    <div class="table-responsive" id="beer-list"></div>
</div>