<table class="table table-striped">
  <thead>
  	<tr>
  		<th>Pub</th>
  		<th>Beer</th>
  	</tr>
  </thead>
  <tbody>
  {{#each pubData}}
  	<tr>
  		<td>{{pubName}}</td>
  		<td>{{beerName}}</td>
  	</tr>
  {{/each}}
  </tbody>
</table>