<h1>drinking now</h1>
<br>

<div class="form-group">
  <h4>Where are you?</h4>
  <input id="pub-input" class="form-control" type="text">
  <br>
  <h4>What are you drinking?</h4>  <input id="beer-input" class="form-control" type="text">
  <br>
  <button id="add-pub" class="btn btn-success">Add Pub</button>
</div>

<br>
<h4>See what other users entered</h4>
<div class="table-responsive" id="pub-list">