<div id="nav">
  	<a href="#/drinkingnow"><button type="button" class="btn btn-default">Drinking Now</button></a>
  	<a href="#/findbeer"><button type="button" class="btn btn-default">Find Beer</button></a>
</div>
<div class="row" style="padding-top: 7%;">
	<h1>Drinking Now</h1>
	<br>

	<div class="form-group">
	  <h4>Where are you?</h4>
	  <input id="pub-input" class="form-control" type="text">
	  <br>
	  <h4>What are you drinking?</h4>  
	  <input id="beer-input" class="form-control" type="text">
	  <br>
	  <button id="add-pub" class="btn btn-success">Add Pub</button>
	</div>
</div>

<br>
<h4>See what other users entered</h4>
<div class="table-responsive" id="pub-list">