<h1>drinking now</h1>
<h3>Where are you?</h3>
<select>
	<option value="first">--</option>
	<option value="Bridgeport">Bridgeport</option>
	<option value="Rogue">Rogue</option>
	<option value="more">More options</option>
</select>
<h3>What are you drinking?</h3>
<select>
	<option value="first">--</option>
	<option value="IPA">IPA</option>
	<option value="Porter">Porter</option>
	<option value="Seasonal">Seasonal</option>
	<option value="Lager">Lager</option>
	<option value="more">MORE BEER</option>
</select>