<table class="table table-striped">
  <thead>
  	<tr>
  		<th>Beer</th>
  		<th>Bars</th>
  	</tr>
  </thead>
  <tbody>
  {{#each beerData}}
  	<tr>
      <td>{{beerName}}</td>
      <td>
      {{#each barName}}
        <p>
        {{barName}}
        <p>
      {{/each}}
      </td>
  	</tr>
  {{/each}}
  </tbody>
</table>