<h1>find my beer</h1>
<div id="find-beer" class=container-fluid">
    <div class="row" id="beerSelectRow">
        <div class="col-md-12">
            <form class="form-horizontal" role="form">
                <div class="form-group col-md-3">
                    <label for="beer-select">Select a beer</label>
                    <select id="beer-select" class="form-control">
                        {{#each beers}}
                        <option>{{name}}</option>
                        {{/each}}
                    </select>
                    <p>
                    <button type="button" class="btn btn-sm btn-primary">Go!</button>
                    </p>
        </div>
            </form>
        </div>
    </div>
    <div class="row-fluid" id="pubListRow">
        <div class="col-md-12" id="pubListCol">
            <h1>Returned list of pubs here</h1>
        </div>
    </div>
</div>