<div id="nav">
    <a href="#/drinkingnow"><button type="button" class="btn btn-default">Drinking Now</button></a>
    <a href="#/findbeer"><button type="button" class="btn btn-default">Find Beer</button></a>
</div>

<div class="row" style="padding-top: 7%;">
    <h1>find my beer</h1>
    <br>

    <div class="form-group">
        <h4>Select a beer</h4>
        <select id="beer-select" class="form-control">
            {{#each beers}}
            <option>{{name}}</option>
            {{/each}}
        </select>
        <br>
        <div id="ratings-display"></div>
        <br>
        <button id="get-bars" class="btn btn-default" style="background-color:black; color:white;">Go!</button>
        <br>
    </div>
</div>

<div class="row-fluid" id="pub-list-row">


