<table class="table table-striped">
    <thead>
    <tr>
        <th>Bar</th>
    </tr>
    </thead>
    <tbody>
    {{#each barData}}
        <tr>
            <td>{{.}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>