<table class="table table-striped">
    <thead>
    <tr>
        <th>Bar</th><th>Updated</th>
    </tr>
    </thead>
    <tbody>
    {{#each barData}}
        <tr>
            <td>{{barName}}</td><td>{{timeSinceString}} ago.</td>
        </tr>
    {{/each}}
    </tbody>
</table>