<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>beerify</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/beerify.css">
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>        
</head>

<!-- Construct navigation bar -->
<!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">beerify</a>
            </div> -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/drinkingnow">Drinking Now</a>
                    </li>
                    <li>
                        <a href="#/findbeer">Find My Beer</a>
                    </li>
                </ul>
            </div> -->
            <!-- /.navbar-collapse -->
        <!-- </div> -->
        <!-- /.container-fluid -->
   <!--  </nav> --> 



<!-- Start content -->

<body>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div id="logo" class="col-md-4">
            <img src="/css/label.png">
        </div>
        <div class="col-md-4">
            <div class="dropdown pull-right" style="margin: 1%;">
              <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                <span class="glyphicon glyphicon-tower"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Report an Error</a></li>
              </ul>
            </div>
        </div>
    </div>