<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>beerify</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/beerify.css" media="screen">
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>     
</head>

<body>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div id="logo" class="col-md-4">
            <img src="/images/label.png">
        </div>
        <div class="col-md-4">
            <div class="dropdown pull-right" style="margin: 1%;">
              <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                <span class="glyphicon glyphicon-tower"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li><a href="#/about">About Us</a></li>
                <li><a href="#/error">Report an Error</a></li>
              </ul>
            </div>
        </div>
    </div>